@mixin footerSettings{

  display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 17px;
}

@mixin ulfix{
  &:after{
   content: "";
   display: block;
   clear: both;
 }
}

@mixin mediaQuery($arg){
  @media screen and (max-width:  $arg){
    @content;
  }

}
